html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: rgb(104, 88, 245);
}

.container {
    border: 2px inset black;
    background-color: white;
    padding: 10px;
}

.container > * {
    padding: 4px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.forms > * {
    padding: 4px;
}

.info {
    border: 2px inset black;
    padding: 20px;
}

h1, h3, h4, p {
    margin: 0;
    padding: 0;
}